body.home {
  @include align_center();
}

.home-title {
  height: 15vh;
  text-align: center;
  //@include align_center();

  h2 {
    font-size: rem-calc(25);
    font-weight: 200;
    color: $dark;
    margin: 0;
    font-family: $serif;
  }

  p {
    font-weight: 100;
    color: $dark;
    font-family: $serif;
  }
}

.home-hero {
  height: 68vh;
  background: $shade;
  position: relative;
  @include align_center();

  .card {

    position: relative;
    padding: rem-calc(10);

    .content {
      padding: rem-calc(10);
      height: 100%;
      @include transition_all();

      &:hover {

      }

    }

    h3 {
      font-size: rem-calc(18);
      font-weight: 400;
      color: $dark;
      text-align: center;
      font-family: $serif;
    }

    p {
      color: $dark;
      &:last-of-type {
        margin: 0;
      }

    }

    .button {
      background: transparent;
      border: 1px solid $dark;
      color: $dark;
      text-align: center;
      font-size: rem-calc(10);


      &:hover {
        background: $dark;
        color: $shade;
      }
    }

    &:nth-child(1){
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }
    &:nth-child(2){
      border-bottom: 1px solid white;
    }
    &:nth-child(3){
      border-right: 1px solid white;
    }

  }

}

#footer {
  height: 15vh;
  @include align_bottom();

  p {
    font-weight: 100;
  }

}