.front-menu {

  height: 7vh;

  .menu > ul {

    text-align: center;
    margin: 0;

    li {
      display: inline-block;

      a {
        padding: rem-calc(0 20);
        line-height: rem-calc(55);
        font-weight: 100;
        font-size: rem-calc(18);
        color: $dark;
        text-transform: lowercase;
        @include transition_all();

        &:hover {
          font-weight: 300;
        }

      }

    }

  }

}

.interior-sidebar {
  .menu {

    ul {
      list-style-type: none;
      margin-left: 0;

      li {
        text-align: center;

        &.current_page_item a {
          color: white;
          background: $shade;
        }

      }

      a {

        display: block;

        &:hover {
          background: $shade;
          color: $dark;
        }

      }

    }

  }
}